<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規情報登録</title>
</head>
<body>
<h1>こちらは登録ページです</h1>
<form class="form py-4 needs-validation h-adr" method="post" th:action="@{/}" th:object="${addressBook}">
	
	<div class="row mt-3">
		<label for="last_name" class="col-4 col-form-label text-end">姓</label>
		<div class="col-4">
			<input type="text" id="last_name" name="last_name" th:field="*{last_name}">
		</div>
		<label for="first_name" class="col-4 col-form-label text-end">名</label>
		<div class="col-4">
			<input type="text" id="first_name" name="first_name" th:field="*{first_name}">
		</div>
		<label for="email" class="col-4 col-form-label text-end">email</label>
		<div class="col-4">
			<input type="text" id="email" name="email" th:field="*{email}">
		</div>
		<label for="tel" class="col-4 col-form-label text-end">電話番号</label>
		<div class="col-4">
			<input type="text" id="tel" name="tel" th:field="*{tel}">
		</div>
		
		<input type="submit" value="登録">
	</div>

</form>
</body>
</html>